body {
    background-color: lightblue;
}

h1 {
    margin-left: 20px;
    font-size: 2.5em;
    text-align: center;
}
div {
    margin-left: 20px;
    font-size: 1.5em;
    text-align: center;
}